<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">@Header</div>
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        <p class="card-text">@Body</p>
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Body { get; set; }
}